@import '../../common/constant.scss';

.Navbar {
  background-color: $nav-bg;
  position: sticky;
  top: 0;
  z-index: 999;
  border-bottom: $nav-border;
  padding: 10px;
  > .nav {
    max-width: 600px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    > .title {
      font-family: $font-family-satisfy;
    }
    > .box-search {
      position: relative;
      width: 100%;
      max-width: 200px;
      display: flex;
      align-items: stretch;
      border: $input-border;
      border-radius: 3px;
      > input {
        width: 100%;
        max-width: calc(200px - 22px);
        border: none !important;
        border-top-left-radius: 3px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 0px;
      }
      > button {
        border: none;
        border-left: $input-border;
        color: $color-black;
        border-top-left-radius: 0px;
        border-top-right-radius: 3px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 3px;
        cursor: pointer;
      }
    }
  }
}
