@import './common/constant.scss';

html {
  background-color: $app-bg;
  body {
    margin: 0;
    margin: 0;
    * {
      outline: unset;
    }
    a {
      color: $color-black;
      text-decoration: unset;
    }
    > #root {
      > .App {
        font-family: $font-family-barlow;
        font-weight: 300;
        color: $color-black;
        input {
          background-color: $input-bg;
          border-radius: 3px;
          border: $input-border;
          padding: 5px 10px;
          &::placeholder {
            color: $input-placeholder;
            text-align: center;
            font-weight: 300;
            font-family: $font-family-barlow;
          }
        }
      }
    }
  }
}