@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;500;700&family=Satisfy&display=swap');

$font-family-satisfy: 'Satisfy', cursive;
$font-family-barlow: 'Barlow Semi Condensed', sans-serif;

// color
$color-black: #4a4a4a;
$color-gray: #8e8e8e;

// app
$app-bg: #fafafa;
$app-border: 1px solid #dbdbdb;

// input
$input-bg: #fafafa;
$input-border: 1px solid #dbdbdb;
$input-placeholder: #a5a5a5;

// nav
$nav-bg: #ffffff;
$nav-border: $app-border;
$nav-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.5);
$nav-shadow-search: 0px 4px 7px 0px rgba(0, 0, 0, 0.2);